body {
  margin: 0 auto;
}
.bg {
  width: 1920px;
  height: 1000px;
  margin: 0 auto;
  display: block;
}
.title {
  width: 450px;
  height: 141px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  .topsign {
    width: 314px;
    height: 14px;
    color: #898f8f;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
  }

  .ourTeam {
    width: 320px;
    height: 45px;
    color: #ffcc00;
    font-family: "Roboto - Black";
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
  }
  .logo {
    padding-top: 20px;
    display: flex;
    object {
      width: 20px;
      z-index: -1;
      margin-left: 5px;
      margin-right: 5px;
    }
    hr {
      width: 410px;
      height: 2px;
      background-color: #ffcc00;
      justify-content: center;
      border: 0px;
      z-index: 1;
    }
  }
}
.slaider {
  width: 1300px;
  height: 610px;
  margin: 0 auto;
  display: block;
  align-items: center;
  display: flex;
  .svgPrev,
  .svgNext {
    width: 30x;
    height: 30px;
    color: #ffcc00;
    margin: 20px;
    font-size: 40px;
    font-weight: 400;

    line-height: 24px;
    text-align: center;
  }
}
.article {
  width: 416px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
  .name {
    width: 241px;
    height: 28px;
    color: #666666;
    font-family: "Roboto - Black";
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
  }
  .ocupation {
    width: 220px;
    height: auto;
    color: #666666;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
    margin-top: 40px;

    hr {
      width: 200px;
      height: 1px;
      background-color: #ffcc00;
      border: none;
      outline: none;
    }
  }

  .navBar {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-top: 15px;
    height: auto;
    nav {
      display: flex;
      list-style-type: none;
      flex-direction: row;
    }
  }
}
.discription {
  width: 416px;
  height: auto;
  color: #333333;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  margin-top: 40px;
}
.someLines {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 50px;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 179, 0, 1) 0%,
    rgba(255, 179, 0, 1) 15%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 179, 0, 1) 25%,
    rgba(255, 179, 0, 1) 75%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1) 85%,
    rgba(255, 179, 0, 1) 85%,
    rgba(255, 179, 0, 1) 100%
  );
}

.button {
  margin-top: 15px;
  width: 120px;
  height: 30px;
  border: 1px solid orange;
  background-color: rgb(255, 255, 255);
  line-height: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #898f8f;
}

.verticalLine {
  width: 100px;
  hr {
    border: 0px;
    background-color: orange;
  }
  position: relative;
  left: 100px;

  text-align: center;
}

.ramka {
  width: 420px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
      orange 0,
      orange 100px,
      transparent 100px,
      transparent 320px,
      orange 320px,
      orange 420px
    ),
    linear-gradient(
      90deg,
      orange 0,
      orange 100px,
      transparent 100px,
      transparent 320px,
      orange 320px,
      orange 420px
    ),
    linear-gradient(
      orange 0,
      orange 100px,
      transparent 100px,
      transparent 320px,
      orange 320px,
      orange 420px
    ),
    linear-gradient(
      90deg,
      orange 0px,
      orange 100px,
      transparent 100px,
      transparent 320px,
      orange 320px,
      orange 420px
    );
  background-size: 1px 420px, 420px 1px, 1px 420px, 420px 1px;
  background-position: 0 0, 0 0, 100% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}

li {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 50%;
  margin-left: 5px;
  text-align: center;
  line-height: 30px;
  color: #898f8f;
}
.radioButton {
  display: none;
}
.fake {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid orange;
  border-radius: 50%;
  position: relative;
}
.fake::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid orange;
  border-radius: 50%;
  opacity: 0;
  background-color: orange;
}
.radioButton:checked + .fake::before {
  opacity: 1;
}
